
* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.4;
}

div {
    box-sizing: border-box;
}


.container {
    width: 100%;
    max-width: 1200px;
    min-width: 480px;
    margin: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*footer*/

.footer__title {
    font-size: 1.4em;
    text-align: center;
}

/* section*/
.section__title {
    margin-top: 12px;
}

/*box box__item*/

.boxItems {
    display: flex;
    justify-content: space-between;
    
}
.boxItems__container {
    margin: 600px;

}

.boxItems__item {
    width: 32%;
    border: 1px solid; 
    margin: 6px 0;
    padding: 4px;
}

.boxItems__item_bg {
    background: #add; 
}


